<body>
  <div class="container">
    <h2><i class="fas fa-truck"></i> Actualizar Proveedor</h2>
    <hr>
    <form class="form-grid" (submit)="actualizarProveedor()" enctype="multipart/form-data">
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-store"></i> Nombre</mat-label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="proveedor.nombre" required matInput>
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-phone"></i> Teléfono</mat-label>
            <input type="number" id="telefono" name="telefono" [(ngModel)]="proveedor.telefono" required matInput
                   (input)="limitarLongitud1($event); validarNumeroPositivo($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-map-marker-alt"></i> Dirección</mat-label>
            <input type="text" id="direccion" name="direccion" [(ngModel)]="proveedor.direccion" required matInput>
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-envelope"></i> Correo</mat-label>
            <input type="email" id="email" name="email" [(ngModel)]="proveedor.email" required matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-id-card"></i> RUC</mat-label>
            <input type="number" id="ruc" name="ruc" [(ngModel)]="proveedor.ruc" required matInput
                   (input)="limitarLongitud2($event); validarNumeroPositivo($event)">
          </mat-form-field>
        </div>
        <div class="form-column">
          <button type="submit" class="btn-action">
            <i class="fas fa-save"></i> Actualizar
          </button>
        </div>
      </div>
    </form>
  </div>
</body>