<body>
  <div class="container">
    <h2><i class="fas fa-truck"></i> Actualizar Proveedor</h2>
    <hr>
    <form [formGroup]="proveedorForm" class="form-grid" (ngSubmit)="actualizarProveedor()">
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-store"></i> Nombre</mat-label>
            <input type="text" matInput formControlName="nombre" placeholder="Nombre del proveedor">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-phone"></i> Teléfono</mat-label>
            <input type="number" matInput formControlName="telefono"
                   (input)="limitarLongitud($event, 9); validarNumeroPositivo($event)"
                   placeholder="Teléfono del proveedor">
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-map-marker-alt"></i> Dirección</mat-label>
            <input type="text" matInput formControlName="direccion" placeholder="Dirección del proveedor">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-envelope"></i> Correo</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Email del proveedor">
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label><i class="fas fa-id-card"></i> RUC</mat-label>
            <input type="number" matInput formControlName="ruc"
                   (input)="limitarLongitud($event, 11); validarNumeroPositivo($event)"
                   placeholder="RUC del proveedor">
          </mat-form-field>
        </div>
        <div class="form-column">
          <button type="submit" class="btn-action">
            <i class="fas fa-save"></i> Actualizar
          </button>
        </div>
      </div>
    </form>
  </div>
</body>
