<body>
  <div class="container">
    <h2><i class="fas fa-info-circle"></i> Nosotros</h2>
    <hr>
    <div class="main-timeline">
      <div class="timeline">
        <span class="timeline-icon"></span>
        <span class="year">Historia Super Xtra</span>
        <div class="timeline-content">
          <p>
            Super Xtra es una empresa peruana dedicada a la venta de productos de consumo masivo. Cuenta con más de 10 años en el mercado, se encuentra ubicada en el distrito de San Martin de Porres en Lima.
          </p>
          <p>
            La empresa se caracteriza por ofrecer una amplia variedad de productos a precios competitivos en un formato de tienda pequeña. Su portafolio incluye categorías como abarrotes, limpieza, cuidado personal, hogar, mascotas, bebidas, entre otros.
          </p>
        </div>
      </div>
      <div class="timeline">
        <span class="timeline-icon"></span>
        <span class="year">Misión</span>
        <div class="timeline-content">
          <p>
            Mejorar la experiencia de compra y a través del ahorro, la calidad de vida de nuestros clientes, en alianza con nuestros socios comerciales. Fortalecer la comunicación y el trabajo en equipo, con el respaldo de colaboradores comprometidos y capacitados. Maximizar la rentabilidad y sostenibilidad de la marca con nuestra capacidad de negociación y eficiencia operativa.
          </p>
        </div>
      </div>
      <div class="timeline">
        <span class="timeline-icon"></span>
        <span class="year">Visión</span>
        <div class="timeline-content">
          <p>
            Ser líder en la venta de consumo masivo al por mayor y menor en el Perú.
          </p>
        </div>
      </div>
      <div class="timeline">
        <span class="timeline-icon"></span>
        <span class="year">Valores</span>
        <div class="timeline-content">
          <ul>
            <li><i class="fas fa-user"></i> Primero el cliente</li>
            <li><i class="fas fa-handshake"></i> Honestidad, integridad y respeto</li>
            <li><i class="fas fa-comments"></i> Comunicación efectiva y claridad funcional</li>
            <li><i class="fas fa-heart"></i> Lealtad y compromiso con el éxito de la compañía</li>
            <li><i class="fas fa-check-circle"></i> Responsabilidad para el logro de resultados</li>
            <li><i class="fas fa-bolt"></i> Agilidad y eficiencia en la toma de decisiones</li>
            <li><i class="fas fa-leaf"></i> Conciencia ecológica y comunitaria</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>