<body>
  <div class="container">
    <h1><i class="fas fa-users-cog"></i> Lista de Usuarios Operador Activados</h1>
    <hr />
    <div class="button-container">
      <button class="btn-action" [routerLink]="'/admin/usuario/registrar-usuario-operador'">
        <i class="fas fa-user-plus"></i> Registrar Operador
      </button>
      <button class="btn-action" (click)="descargarPDF()">
        <i class="fas fa-file-pdf"></i> Generar Reporte
      </button>
    </div>
    <table class="table text-center">
      <thead>
        <tr>

          <th><i class="fas fa-user"></i> Nombre</th>
          <th><i class="fas fa-user-circle"></i> Usuario</th>
          <th><i class="fas fa-envelope"></i> Correo</th>
          <th><i class="fas fa-phone"></i> Teléfono</th>
          <th><i class="fas fa-cogs"></i> Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuarioRol of usuarioRoles">
          <td>{{ usuarioRol.nombre }}</td>

          <td>{{ usuarioRol.username }}</td>
          <td>{{ usuarioRol.email }}</td>
          <td>{{ usuarioRol.telefono }}</td>


          <td>
            <button [routerLink]="'/admin/usuario/' + usuarioRol.id"    class="btn-table btn-edit">
              <i class="bx bx-info-circle"></i>
            </button>
            &nbsp;
            <button (click)="desactivarUsuario(usuarioRol.id)"    class="btn-table btn-delete">
              <i class="bx bx-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="!usuarioRoles || usuarioRoles.length === 0">
          <td colspan="7" class="text-center text-muted">
            <i class="fas fa-exclamation-circle"></i>
            No hay usuarios desactivados registrados.
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Paginador -->
    <mat-paginator [length]="usuarioRoles.length" [pageSize]="pageSize" [pageIndex]="pageIndex" class="letra"
      (page)="onPageChange($event)" #paginator></mat-paginator>
  </div>
</body>