<div class="bootstrap-wrapper">
    <div class="container">
        <h1>Detalle de Entrada de Producto</h1>
        <hr>
        <br>
        <div class="text-center">
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="table text-center " *ngIf="detalleEntrada">
                    <tr>
                        <th colspan="2" class="text-center" style="background-color: deepskyblue; margin-top: 550px;">
                            Información de Contacto </th>
                    </tr>
                    <tr>
                        <td><strong>Código</strong></td>
                        <td>{{ detalleEntrada.detalleEntradaId }}</td>
                    </tr>
                    <tr>
                        <td><strong>Producto</strong></td>
                        <td>{{ detalleEntrada.producto.nombre }}</td>
                    </tr>
                    <tr>
                        <td><strong>Descripcion</strong></td>
                        <td>{{ detalleEntrada.descripcion }}</td>
                    </tr>
                    <tr>
                        <td><strong>Cantidad</strong></td>
                        <td>{{ detalleEntrada.cantidad }}</td>
                    </tr>
                    <tr>
                        <td><strong>Stock</strong></td>
                        <td>{{ detalleEntrada.producto.stock }}</td>
                    </tr>
                    <tr>
                        <td><strong>Fecha de Entrada</strong></td>
                        <td>{{ detalleEntrada.entrada.fechaEntrada }}</td>
                    </tr>
                    <tr>
                        <td><strong>Proveedor</strong></td>
                        <td>{{ detalleEntrada.producto.proveedor.nombre }}</td>
                    </tr>
                    <tr>
                        <td><strong>Usuario</strong></td>
                        <td>{{ detalleEntrada.usuario.username }}</td>
                    </tr>
                    <tr>
                        <td><strong>Nombre</strong></td>
                        <td>{{ detalleEntrada.usuario.nombre+" "+detalleEntrada.usuario.apellido  }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>