<body>
  <div class="container">
    <h2><i class="fas fa-sign-out-alt"></i> Módulo de Salidas</h2>
    <hr>
    <div class="action-buttons">
      <button class="btn-action" routerLink="/admin/salidas/registrar-salidas">
        <i class="fas fa-plus-circle"></i> Registrar Salida
      </button>
      <button class="btn-action" (click)="descargarPDF()">
        <i class="fas fa-file-pdf"></i> Generar Reporte
      </button>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><i class="fas fa-hashtag"></i> Código</th>
          <th><i class="fas fa-box"></i> Producto</th>
          <th><i class="fas fa-file-alt"></i> Descripción</th>
          <th><i class="fas fa-sort-numeric-up"></i> Cantidad</th>
          <th><i class="fas fa-calendar-alt"></i> Fecha de Salida</th>
          <th><i class="fas fa-user"></i> Responsable</th>
          <th><i class="fas fa-cogs"></i> Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salida of detalleSalida">
          <td>{{ salida.detalleSalidaId }}</td>
          <td>{{ salida.producto.nombre }}</td>
          <td>{{ salida.descripcion }}</td>
          <td>{{ salida.cantidad }}</td>
          <td>{{ salida.salida.fechaSalida }}</td>
          <td>{{ salida.usuario.nombre }}</td>
          <td>
            <button class="btn-details" routerLink="/admin/salidas/detalle/{{ salida.detalleSalidaId }}">
              <i class="fas fa-info-circle"></i> 
            </button>
          </td>
        </tr>
                <!-- Si no hay datos -->
        <tr *ngIf="!detalleSalida || detalleSalida.length === 0">
          <td colspan="6" class="text-center">
            <i class="fas fa-exclamation-circle"></i> No hay reclamos registrados.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>