<body>
  <div class="container">
    <h1><i class="fas fa-user-edit"></i> Actualizar Usuario</h1>
    <hr>

    <form class="form-single-column" *ngIf="user">

      <div class="form-column">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input type="text" [(ngModel)]="user.username" name="usuario" required matInput>
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input type="text" [(ngModel)]="user.nombre" name="nombre" required matInput>
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-form-field appearance="outline">
          <mat-label>Correo Electrónico</mat-label>
          <input type="email" [(ngModel)]="user.email" name="email" required matInput>
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-form-field appearance="outline">
          <mat-label>Dirección</mat-label>
          <input type="text" [(ngModel)]="user.direccion" name="direccion" required matInput>
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input type="number" [(ngModel)]="user.telefono" name="telefono" required matInput>
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-form-field appearance="outline">
          <mat-label>DNI</mat-label>
          <input type="text" [(ngModel)]="user.dni" name="dni" required matInput>
        </mat-form-field>
      </div>

      <div class="form-column">
        <button type="submit" class="btn-action" (click)="actualizarUsuario()">
          <i class="fas fa-save"></i> Actualizar
        </button>
      </div>

    </form>
  </div>
</body>
