<!-- entrada-producto.component.html -->

<div class="container">
    <h1>Registro de Salida de Producto</h1>
    <hr>
    <form (submit)="enviarEntrada()">
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Fecha de Entrada</mat-label>
        <input matInput required name="fechaEntrada" type="date" [(ngModel)]="detalleSalida.salida.fechaSalida" />
      </mat-form-field>
      &nbsp;
      <mat-form-field class="w100" appearance="outline" *ngIf="isLoggedIn && user">
        <mat-label>Usuario</mat-label>
        <input matInput required name="Usuario" disabled="true" [value]="user.username" />
      </mat-form-field>
      &nbsp;
      <button type="submit" class="btn btn-primary w100">Registrar Entrada</button>
      &nbsp;
  
      <br>
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Producto</mat-label>
        <mat-select required name="productoId" [(ngModel)]="detalleSalida.producto.productoId">
          <mat-option *ngFor="let producto of producto" [value]="producto.productoId">{{ producto.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput required name="descripcion" [(ngModel)]="detalleSalida.descripcion" />
      </mat-form-field>
      &nbsp;
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" required name="cantidad" [(ngModel)]="detalleSalida.cantidad" />
      </mat-form-field>
    </form>
    <div>
      <button type="submit" class="btn btn-primary w100" (click)="agregarProducto()">Agregar Registro</button>
  
  
    </div>
    <br><br><br>
    <div>
      <table class="table">
        <thead>
          <tr>
  
            <th>Descripción</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of listaDetalleSalida">
          
  
            <td>{{ detalle.descripcion }}</td>
            <td>{{ detalle.cantidad }}</td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  <br>
