<body>
  <div class="container">
    <div class="header">
      <h1 *ngIf="isLoggedIn && user"><i class="fas fa-user-shield"></i> Bienvenido Administrador {{ user.username }}</h1>
    </div>
    <hr>
    <div class="welcome-section">
      <div class="welcome-text">
        <p>¡Bienvenido al Panel Administrativo de Super Xtra! Su rol es esencial para el éxito de nuestras operaciones de almacén.</p>
        <p>Como administrador, liderará la gestión de inventario, usuarios, proveedores, ventas, compras y configuraciones, asegurando que todo funcione con precisión y eficiencia.</p>
        <p>Gracias por su compromiso y dedicación con nuestra empresa.</p>
      </div>
      <div class="logo-container">
        <img src="../../../../assets/img/logo.png" alt="Super Xtra Logo" class="img-admin img-fluid">
      </div>
    </div>
    <div class="functions-section">
      <h2><i class="fas fa-tasks"></i> Funciones del Administrador</h2>
      <div class="functions-grid">
        <div class="function-card">
          <i class="fas fa-boxes"></i>
          <h3>Gestionar los Productos</h3>
        </div>
        <div class="function-card">
          <i class="fas fa-users"></i>
          <h3>Gestionar los Usuarios</h3>
        </div>
        <div class="function-card">
          <i class="fas fa-truck"></i>
          <h3>Gestionar los Proveedores</h3>
        </div>
        <div class="function-card">
          <i class="fas fa-shopping-cart"></i>
          <h3>Gestionar las Ventas</h3>
        </div>
        <div class="function-card">
          <i class="fas fa-shopping-bag"></i>
          <h3>Gestionar las Compras</h3>
        </div>
        <div class="function-card">
          <i class="fas fa-cogs"></i>
          <h3>Gestionar las Configuraciones</h3>
        </div>
      </div>
    </div>
  </div>