<body>
  <div class="container">
    <div class="header">
      <h1><i class="fas fa-user-circle"></i> {{ user.nombre }} {{ user.apellido }}</h1>
    </div>
    <div class="action-buttons">
      <button routerLink="/admin/configuracion/actualizar-usuario/{{ user.id}}"><i class="fas fa-user-edit"></i> Actualizar Perfil</button>
      <button><i class="fas fa-key"></i> Actualizar Contraseña</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="profile-table">
          <tr>
            <th colspan="2">Información de Contacto</th>
          </tr>
          <tr>
            <td><i class="fas fa-user"></i> Nombre de usuario</td>
            <td style="text-transform: capitalize">{{ user.username }}</td>
          </tr>
          <tr>
            <td><i class="fas fa-envelope"></i> Correo</td>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <td><i class="fas fa-phone"></i> Teléfono</td>
            <td>{{ user.telefono }}</td>
          </tr>
          <tr>
            <td><i class="fas fa-shield-alt"></i> Rol</td>
            <td>{{ user.authorities[0].authority }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>