<body>
  <div class="container">
    <h1><i class="fas fa-exclamation-circle"></i> Enviar Reclamo</h1>
    <hr>
    <form class="form-single-column" (ngSubmit)="enviarEntrada()">

      <div class="form-column" *ngIf="isLoggedIn && user">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput required disabled [value]="user.username">
        </mat-form-field>
      </div>

      <div class="form-column" *ngIf="isLoggedIn && user">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput required disabled [value]="user.email">
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-form-field appearance="outline" class="w100">
          <mat-label>Asunto</mat-label>
          <textarea matInput placeholder="Digite la descripción sobre su reclamo" rows="10"
            [(ngModel)]="reclamo.asunto" name="descripcion"></textarea>
        </mat-form-field>
      </div>

      <div class="form-column">
        <button type="submit" class="btn-action">
          <i class="fas fa-paper-plane"></i> Enviar Reclamo
        </button>
      </div>

    </form>
  </div>
</body>
