<div class="bootstrap-wrapper" style="margin-left: 10px;">
    <div class="container">
  
     
      <div style="text-align: right;">
        <button class="btn btn-success" routerLink="/user-dashboard/configuracion/actualizar-usuario/{{ user.id}}">Actualizar Perfil</button>
        <br>
        <br>
        <button class="btn btn-success">Actualizar Contraseña</button>
    </div>
     <div class="text-center">
        <h1 class="mt20" style="text-transform: capitalize">{{ user.nombre }} {{ user.apellido }}</h1>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <table class="table text-center">
            <tr>
              <th colspan="2" class="text-center">Información de Contacto</th>
            </tr>
            <tr>
              <td><strong>Nombre de usuario</strong></td>
              <td style="text-transform: capitalize">{{ user.username }}</td>
            </tr>
            <tr>
              <td><strong>Correo</strong></td>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <td><strong>Teléfono</strong></td>
              <td>{{ user.telefono }}</td>
            </tr>
            <tr>
              <td><strong>Rol</strong></td>
              <td>{{ user.authorities[0].authority }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
