<body>
  <div class="container">
    <h1><i class="fas fa-users"></i> Módulo de Usuarios</h1>
    <hr>
    <mat-tab-group [(selectedIndex)]="activeTab">
      <mat-tab label="Usuario Administrador">
        <div *ngIf="activeTab === 0">
          <app-usuario-administrador></app-usuario-administrador>
        </div>
      </mat-tab>
      <mat-tab label="Usuario Operador">
        <div *ngIf="activeTab === 1">
          <app-usuario-operador></app-usuario-operador>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</body>