<body>
  <div class="container">
    <div class="button-container">
      <button class="btn-action" [routerLink]="'/user-dashboard/inventario/crear-producto'">
            <i class="fas fa-plus-circle"></i> Registrar
        Producto</button>
      <button class="btn-action" (click)="descargarPDF()">
         <i class="fas fa-file-pdf"></i>   Generar Reporte</button>

    </div>

    <div class="search-container">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="nombre" placeholder="Buscar Nombre" (input)="buscarPorNombre()">
      </mat-form-field>
    </div>
    <table class="table table-bordered">
      <thead  class="text-center">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Proveedor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr
          *ngFor="let producto of productos | slice: (paginator.pageIndex * paginator.pageSize):(paginator.pageIndex + 1) * paginator.pageSize">
          <td>{{ producto.productoId }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{"S/."+producto.precio}}</td>
          <td>{{producto.stock}}</td>
          <td>{{producto.proveedor.nombre}}</td>

          <td>
            <button routerLink="/user-dashboard/inventario/{{ producto.productoId}}" class="btn-table btn-edit"><i
                class='bx bx-pencil'></i></button>
            &nbsp;
            <button (click)="desactivarProducto(producto.productoId)"class="btn-table btn-delete"><i
                class='bx bx-trash'></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Paginador -->
    <mat-paginator [length]="productos.length" [pageSize]="pageSize" [pageIndex]="pageIndex" class="letra"
      (page)="onPageChange($event)" #paginator></mat-paginator>
  </div>
</body>