<body>
  <div class="container">
    <h1><i class="fas fa-info-circle"></i> Detalle de Usuario</h1>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <table class="table" *ngIf="usuarioRol">
          <tr>
            <th colspan="2">Información de Contacto</th>
          </tr>
          <tr>
            <td><i class="fas fa-hashtag"></i> Código</td>
            <td>{{ usuarioRol.id }}</td>
          </tr>
          <tr>
            <td><i class="fas fa-user"></i> Nombre</td>
            <td>{{ usuarioRol.nombre }}</td>
          </tr>
          <tr>
            <td><i class="fas fa-user"></i> Apellido</td>
            <td>{{ usuarioRol.apellido }}</td>
          </tr>
          <tr>
            <td><i class="fas fa-envelope"></i> Correo</td>
            <td>{{ usuarioRol.email }}</td>
          </tr>
          <tr>
            <td><i class="fas fa-phone"></i> Teléfono</td>
            <td>{{ usuarioRol.telefono }}</td>
          </tr>
          <tr>
            <td><i class="fas fa-user-circle"></i> Usuario</td>
            <td>{{ usuarioRol.username }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
