<body>
  <div class="container">
    <h1><i class="fas fa-truck"></i> Lista de Proveedores</h1>
    <hr>
    <div class="button-container">
      <button class="btn-action" [routerLink]="'/admin/proveedor/crear-proveedor'">
        <i class="fas fa-plus-circle"></i> Registrar Proveedor
      </button>
      <button class="btn-action" (click)="descargarPDF()">
        <i class="fas fa-file-pdf"></i> Generar Reporte
      </button>
    </div>
    <div class="search-container">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="nombre" placeholder="Buscar Nombre" (input)="buscarPorNombre()">
      </mat-form-field>
    </div>
    <table class="table">
      <thead>
        <tr>

          <th><i class="fas fa-store"></i> Nombre</th>
          <th><i class="fas fa-phone"></i> Teléfono</th>
          <th><i class="fas fa-id-card"></i> RUC</th>
          <th><i class="fas fa-envelope"></i> Correo</th>
          <th><i class="fas fa-map-marker-alt"></i> Dirección</th>
          <th><i class="fas fa-cogs"></i> Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedores | slice: (paginator.pageIndex * paginator.pageSize):(paginator.pageIndex + 1) * paginator.pageSize">
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>{{ proveedor.ruc }}</td>
          <td>{{ proveedor.email }}</td>
          <td>{{ proveedor.direccion }}</td>
          <td>
            <button class="btn-table btn-details" [routerLink]="'/admin/proveedor/detalle/' + proveedor.proveedorId">
              <i class="fas fa-info-circle"></i> 
            </button>&nbsp;
            <button class="btn-table btn-edit" [routerLink]="'/admin/proveedor/' + proveedor.proveedorId">
              <i class="fas fa-pencil-alt"></i> 
            </button>&nbsp;
            <button class="btn-table btn-delete" (click)="desactivarProveedor(proveedor.proveedorId)">
              <i class="fas fa-trash"></i> 
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      [length]="proveedores.length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      (page)="onPageChange($event)"
      #paginator
    ></mat-paginator>
  </div>
</body>