<body>
  <div class="container">
    <h2 class="text-center"><i class="fas fa-edit"></i> Actualizar Producto</h2>
    <hr>

    <form class="form-grid" [formGroup]="productoForm" (ngSubmit)="actualizarProducto()" *ngIf="productoForm">

      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-box"></i> Nombre</mat-label>
            <input type="text" matInput formControlName="nombre">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-file-alt"></i> Descripción</mat-label>
            <input type="text" matInput formControlName="descripcion">
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-dollar-sign"></i> Precio</mat-label>
            <input type="number" matInput formControlName="precio" (input)="validarNumeroPositivo($event)">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-sort-numeric-up"></i> Stock</mat-label>
            <input type="number" matInput formControlName="stock" (input)="validarNumeroPositivo($event)">
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-map-marker-alt"></i> Ubicación</mat-label>
            <input type="text" matInput formControlName="ubicacion">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-truck"></i> Proveedor</mat-label>
            <mat-select formControlName="proveedorId">
              <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.proveedorId">
                {{ proveedor.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <button type="submit" class="btn-action">
            <i class="fas fa-sync-alt"></i> Actualizar
          </button>
        </div>
      </div>

    </form>
  </div>
</body>
