<body>
  <div class="container">
    <h1><i class="fas fa-user-plus"></i> Registro de Usuario</h1>
    <hr>
    <form [formGroup]="form" (ngSubmit)="formSubmit()" class="form-grid">

      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-id-badge"></i> Nombre</mat-label>
            <input formControlName="nombre" matInput placeholder="Digite su nombre">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-id-badge"></i> Apellido</mat-label>
            <input formControlName="apellido" matInput placeholder="Digite su apellido">
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-envelope"></i> Email</mat-label>
            <input formControlName="email" type="email" matInput placeholder="Digite su email">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-phone"></i> Teléfono</mat-label>
            <input formControlName="telefono" type="number" matInput placeholder="Digite su teléfono"
              inputmode="numeric" pattern="[0-9]*" title="Ingrese solo números" >
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-map-marker-alt"></i> Dirección</mat-label>
            <input formControlName="direccion" type="text" matInput placeholder="Digite su dirección">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-calendar-alt"></i> Fecha de Nacimiento</mat-label>
            <input formControlName="fechaNacimiento" type="date" matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-hourglass-half"></i> Edad</mat-label>
            <input formControlName="edad" type="number" matInput placeholder="Digite su edad" min="0">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field appearance="outline">
            <mat-label><i class="fas fa-id-card"></i> DNI</mat-label>
            <input formControlName="dni" type="number" matInput placeholder="Digite su DNI" inputmode="numeric"
              pattern="[0-9]*" title="Ingrese solo números" >
          </mat-form-field>
        </div>
      </div>

      <div class="button-group"> <button type="submit" class="btn-action"> <i class="fas fa-save"></i> Registrar
        </button> </div>

    </form>
  </div>
</body>